body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}
@keyframes Fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes Fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: none;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubble {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: float 8s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(100vh) translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh) translateX(20px);
        opacity: 0;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #6C2A83;
    width: 90%;
}

.content h2 {
    font-size: 1.5rem;
    font-family: "Roboto Flex", serif;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Style Script", serif;
}

.content p {
    font-size: 1rem;
}

.button-invitation {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 15px;
    font-size: 0.9rem;
    color: white;
    background-color: #6C2A83;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Lexend Deca", serif;
}

.button-invitation:hover {
    background-color: #8F3FB1;
}
.none {
    display: none;
}