:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
  
body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
}

@keyframes Fadein{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.fadein{
    animation: Fadein 1.5s;
 }
.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(image/bg-wedding.jpg);
    z-index: -1;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    filter: grayscale(); 
}

  
.hero {
    position: relative;
    min-height: 100vh;
}
  
.hero h1,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
}
  
.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a i {
    margin-right: 10px; 
    transition: color 0.3s ease; 
}
  
.hero a:hover i {
    color: white; 
}
  
  
.hero .btn {
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid #ffffff;
    font-size: 16px;
    color: #ffffff;
    padding: 13px 16px;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease;
    border-radius:50px;
    backdrop-filter: blur(5px); 
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.hero .btn::before {
    position: absolute;
    content: "";
    border: 1px solid transparent;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #bf9b73;
    z-index: -1;
    transition: transform 0.7s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.4, 0.7);
    transform: scaleX(0);
}
  
.hero .btn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
  
.hero .btn:hover::before {
    transform: scaleX(1);
}
  
.simply-countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Work Sans', sans-serif;
}
  
.simply-countdown .simply-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 130px;
    height: 110px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(10px); 
}
  
.simply-countdown .simply-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
  
.simply-countdown .simply-section .simply-amount {
    font-size: 2.4rem;
    font-weight: bold;
}
  
.simply-countdown .simply-section .simply-word {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.undangan-section {
    text-align: center;
    height:auto;
}

.couple-half {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px; 
}

#fh5co-couple {
  padding: 50px 0;
  position: relative;
  text-align: center;
}
#fh5co-couple .container {
  position: relative;
}

.fh5co-heading img {
  width: 200px;
  height:200px;
}

.fh5co-heading h2 {
  font-family: "Dancing Script", serif;
  font-size: 40px;
  margin-bottom: 25px;
  color: #bf9b73;
}

.fh5co-heading p {
  font-size: 18px;
  line-height: 1.6;
}

.couple-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.couple-half {
  width: 100%;
  text-align: center;
}

.couple-half img {
  border-radius:10px;
  width: 620px;
  height: 420px;
  margin-bottom: 20px;
}

.desc-groom h3,
.desc-bride h3 {
  font-family: "Great Vibes", serif;
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

.desc-groom p,
.desc-bride p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.parents-font {
  font-style: italic;
  font-weight: bold;
  color: #444;
}

.fh5co-social-icons {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fh5co-social-icons li a {
  font-size: 20px;
  color: #bf9b73;
  transition: color 0.3s ease;
}

.fh5co-social-icons li a:hover {
  color: #444;
}
.icon-groom{
  font-family: 'Great Vibes', serif; 
  color: #bf9b73; 
  text-align: center;
  margin:20px;
}
.quote-section {
  background-color: #bf9b73;
  color: #fff;
  text-align: center;
  padding: 100px;
  margin: auto;
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-size: 18px;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #333;
}

.quote-source {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.containers {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px; 
}

.containers h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Great Vibes", serif;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.event-card {
  border-radius: 12px;
  padding: 20px;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 20px;
}

.event-card h2 {
  font-family: "Oleo Script", serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #bf9b73;
}

.event-card p {
  font-size: 1rem;
  margin: 10px 0;
}

.map iframe {
  border-radius: 8px;
}

.address {
  font-size: 0.9rem;
  margin: 10px 0;
  color:rgb(90, 87, 87);
}

.location-btn {
  background-color: #bf9b73;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.location-btn i {
  font-size: 1rem;
}

.location-btn:hover {
  background-color:rgb(126, 102, 75);
}
.contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
  text-align: center;
}
.Judul{
  font-size: 2.7rem;
  margin-bottom: 10px;
  font-family: "Great Vibes", serif;
}

.highlight {
  color: #bf9b73;
  
}

.quote {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-style: italic;
  color: #666666;
}

.gallery-box {
  max-width: 97%; 
  max-height: 800px; 
  margin: 0 auto;
  border: 2px solid #444;
  border-radius: 10px;
  overflow-y: auto; 
  scrollbar-width: thin; 
  scrollbar-color: #d4a373 #f8f8f8;
  padding: 10px;
  background-color: #222; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}
.Gifts {
  max-width: 1080px;
  margin: 20px auto;
  padding: 20px;
  
}

.love-gift h2 {
  font-size: 2.7rem;
  font-family: "Great Vibes", serif;
  text-align: center;
  margin-bottom: 10px;
  color: #bf9b73;
}

.love-gift p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #666666;
}

.bank-card {
  display: flex;
  justify-content: space-between;
  background-color: #bf9b73;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.bank-info img {
  width: 80px;
  margin-right: 20px;
  background-color: white; 
  padding: 10px; 
  border-radius: 2px; 
  border: 2px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.bank-info p {
  margin: 0;
  color: #ffffff;
}

.copy-button {
  background-color:rgb(145, 117, 85);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.copy-button:hover {
  background-color: rgb(75, 55, 33);
}

.ucapan-doa h2 {
  font-size: 2.7rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Great Vibes", serif;
}

form {
  background-color: #bf9b73;
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #ffffff;
}

input, select, textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 80px;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
  font-size: 1rem;
}

.send-button {
  display: block;
  width: 100%;
  background-color:rgb(206, 147, 79);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(134, 100, 61);
}

.footer {
  text-align: center;
  padding: 40px 20px;
  background-color: rgb(173, 142, 105);
  height:250px;
}

.thank-you {
  font-size: 1.5rem;
  font-family: "Host Grotesk", serif;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top:80px;
}

.couple-name {
  font-size: 3rem;
  font-family: "Redressed", serif;
  margin-bottom: 20px;
}

section.message.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.messages-container {
  width: 100%;
  max-width: 1050px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #bf9b73;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
  scrollbar-width: thin; 
  scrollbar-color: #d4a373 #f8f8f8;
}

.message-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.message-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.message-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.message-card p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #555;
}

.message-card span {
  display: block;
  font-size: 14px;
  color: #888;
  text-align: right;
}

.footer .copyright {
  font-size: 1rem;
  margin-bottom: 20px;
  color:rgb(255, 255, 255);;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .social-icons a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #666666;
}

.menu-container {
  position: fixed; 
  bottom: 30px; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; 
}

.menu-options {
  display: flex;
  gap: 15px;
  background-color: #bf9b73;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-options button {
  background-color: #bf9b73;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-options button:hover {
  transform: scale(1.1);
  background-color:rgb(153, 125, 93);
  border: 1px solid #ffffff;
}
.menu-button.active {
  transform: scale(1.1);
  background-color:rgb(153, 125, 93);
  border: 1px solid #ffffff;
}

#icon {
  cursor: pointer;
  width: 50px; 
  position: fixed;
  bottom: 27px; 
  right: 20px; 
  z-index: 1000; 
}
.right-col {
  text-align: center;
  margin-top: 20px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 2s linear infinite;
}
  /* laptop */
@media (max-width:992px) {
    html {
      font-size: 75%;
    }
  
    .simply-countdown {
        gap: 15px;
    }
    
    .simply-countdown .simply-section {
        width: 90px;
        height: 100px;
        padding: 15px;
    }
    
    .simply-countdown .simply-section .simply-amount {
        font-size: 2rem;
    }
    
    .simply-countdown .simply-section .simply-word {
        font-size: 0.9rem;
    }
    .hero .btn {
        font-size: 16px;
        padding: 12px 14px;
    }
    .menu-options {
        padding: 10px 12px;
        gap: 10px;
    }

    .menu-options button {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    .couple-half {
      flex-basis: 100%;
    }

    .couple-half img {
      max-width: 100%;
    }
    .contain {
      padding: 40px;
    }
    .fh5co-heading h2 {
      font-size: 28px;
    }
    
    .fh5co-heading p {
      font-size: 18px;
    }
}
  
  /* tablet */
@media (max-width:768px) {
  html {
    font-size: 65%;
  }
  
  .simply-countdown {
    gap: 10px;
  }
    
  .simply-countdown .simply-section {
    width: 80px;
    height: 90px;
    padding: 10px;
  }
    
  .simply-countdown .simply-section .simply-amount {
    font-size: 1.8rem;
  }
    
  .simply-countdown .simply-section .simply-word {
    font-size: 0.8rem;
  }
  .hero .btn {
    font-size: 14px;
    padding: 10px 12px;
  }
  .menu-options {
    padding: 8px 10px;
    gap: 8px;
  }

  .menu-options button {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
  .event-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .event-card h2 {
    font-size: 2.5rem;
  }
    
  .event-card p {
    font-size: 1.5rem;
  }
  .event-card {
    max-width: 90%;
    margin-bottom: 15px;
  }
  .containers {
    margin-bottom: 20px;
  }
  
  .containers h1 {
    font-size: 3.5rem;
  }
  .location-btn {
    font-size: 1.3rem;
  }

  .quote {
    font-size: 1.5rem;
  }

  .gallery-box {
    max-height: 500px; 
  }
  .bank-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .copy-button {
    margin-top: 10px;
    align-self: center;
  }
  .comment {
    padding: 12px;
  }

  .comment-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .comment-header .time {
    margin-top: 4px;
  }

  .pagination {
    flex-wrap: wrap;
  }
    .footer .thank-you {
    font-size: 1rem;
  }

  .footer .couple-name {
    font-size: 1.5rem;
  }
  .contain {
    padding: 30px;
  }
  .fh5co-heading h2 {
    font-size: 25px;
  }
  
  .fh5co-heading p {
    font-size: 16px;
  }
  .love-gift h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .love-gift p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  label {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: #ffffff;
  }
  input::placeholder,
  textarea::placeholder {
    color: #ccc;
    font-size: 1.3rem;
  }
  .send-button {
    font-size: 1.3rem;
  }
  .copy-button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.3rem;
  }
  .comment-body {
    font-size: 1.3rem;
  }
  .comment-header .name {
    font-size: 1.3rem;
  }
  
  .comment-header .time {
    font-size: 1rem;
  }
  .box-comment {
    max-width: 100%;
  }
  .thank-you {
    font-size: 1.7rem;
  }
  
  .couple-name {
    font-size: 2.8rem;
  }
  
  .footer .copyright {
    font-size: 1.3rem;
  }
  .footer {
    height:210px;
  }  
  .footer .social-icons a {
    font-size: 2rem;
  }
  .quote-section {
    padding: 20px;
  }

  .quote-text {
    font-size: 16px;
  }

  .quote-source {
    font-size: 14px;
  }
  .messages-container {
    width: 95%;
    max-width: 1000px;
    height: 50vh;
    gap: 20px;
    padding: 12px;
  }
  .containers h1 {
    margin-bottom: 20px;
  }
  
}
  /* mobile phone */
@media (max-width:576px) {
  html {
    font-size: 60%;
  }
  
  .simply-countdown {
      flex-wrap: wrap;
      gap: 10px;
  }
    
  .simply-countdown .simply-section {
      width: 70px;
      height: 80px;
      padding: 8px;
  }
    
  .simply-countdown .simply-section .simply-amount {
      font-size: 1.6rem;
  }
    
  .simply-countdown .simply-section .simply-word {
      font-size: 0.7rem;
  }
  .hero .btn {
      font-size: 12px;
      padding: 8px 10px;
  }
    
  .hero .btn i {
      margin-right: 6px;
  }
  .menu-options {
      padding: 8px 10px;
      gap: 5px;
  }

  .menu-options button {
      width: 30px;
      height: 30px;
      font-size: 14px;
  }
  #fh5co-couple {
      padding: 20px 0;
  }
  
  .couple-wrap {
      flex-direction: column;
      gap: 20px;
  }
  
  .couple-half {
      width: 100%;
      max-width: 90%;
      margin: 0 auto;
  }
  
  .couple-half img {
      width: 300px;
      height: 300px;
  }
  
  .desc-groom h3,
  .desc-bride h3 {
      font-size: 18px;
  }
  
  .desc-groom p,
  .desc-bride p {
      font-size: 14px;
  }
  
  .fh5co-social-icons li a {
      font-size: 18px;
  }
  
  .container {
      margin-bottom: 10px;
  }
  
  .event-container {
      gap: 15px;
  }
  .Judul{
      font-size: 2.5rem;
      margin-bottom: 10px;
  }
  .contain {
      padding: 10px;
  }
  #icon {
    right: 5px; 
  }
  .messages-container {
    width: 90%;
    max-width: 1000px;
    height: 50vh;
    gap: 20px;
    padding: 12px;
  }
  .message-card h3 {
    font-size: 16px;
  }
  
  .message-card p {
    font-size: 14px;
  }
  
  .message-card span {
    font-size: 12px;
  }
  
}