* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}
.menu-container {
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menu-options {
    display: flex;
    padding: 8px 10px;
    gap: 5px;
    background-color: #FDFCFC;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-button {
    background-color: #FDFCFC;
    color: #74c6f4;
    border: none;
    width: 36px;
    height: 36px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    padding: 10px;
}

.menu-button i {
    transition: opacity 0.3s ease;
}
.menu-text {
    display: none;
    margin-left: 8px;
    font-size: 12px;
}

.menu-button:hover {
    background-color: #74c6f4;
}

.menu-button.active {
    width: auto;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #74c6f4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.menu-button.active i {
    opacity: 1;
}

.menu-button.active .menu-text {
    display: inline;
}
.music-button {
    width: 45px;
    height: 45px;
    background-color: #B0B0B0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.music-button img {
    width: 90%;
    height: auto;
}
.music-button.active {
    background-color: #FDB7EA;
}

.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    background: url('gallery/background-home.png') no-repeat center center;
    background-size: cover;
}
.container::after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    height: 100px; 
    background: url('gallery/wave.png') no-repeat center center;
    background-size: cover;
    z-index: -1 ;
    pointer-events: none; 
}
.image-container img{
    width: 100%;
    height: 350px;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 20px;
    margin:0px auto;
}


.container h2 {
    font-size: 16px;
    color: #666;
    font-family: "Baloo 2", serif;
    font-weight: 450;
}

.container h1 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 5px;
    font-family: "Baloo 2", serif;
}

.highlight {
    color: #ff99b3;
}

.bold {
    color: #082c74;
}

.date-badge {
    display: inline-block;
    padding: 16px 23px;
    background: #74c6f4;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    margin-top: 18px;
    border:solid 2px #78B3CE;
}

.container-person{
    margin-top: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-decor {
    width: 100%;
    max-width: 500px;
    background: #fff;
    position: relative;
}

.decor {
    position: absolute;
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
}

.decor.one {
    top: 40px;
    left: -20px;
}

.decor.two {
    bottom: 80px;
    right: -20px;
    background: #cce6ff;
}

.image-person img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    clip-path: ellipse(45% 50% at 50% 45%);

}

.container-decor h1 {
    font-size: 43px;
    font-weight: 600;
    color: #082c74;
    margin-top: 20px;
    font-family: "Baloo 2", serif;
}

.container-decor p {
    font-size: 17px;
    color: #666;
    padding: 0 15px;
    margin-top: 10px;
    font-family: "Baloo 2", serif;
    line-height: 1.5;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: #ff99b3;
    margin: 0 8px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ff66a3;
}
.container-date{
    text-align: center;
    margin-top: 134px;
    margin-bottom: 120px;
    background: url('gallery/background-date.png') no-repeat center center;
    background-size: cover;
}
.container-date::before{
    content: "";
    position: absolute;
    bottom: -640px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    height: 100px; 
    background: url('gallery/wave-date.png') no-repeat center center;
    background-size: cover;
    z-index: 0 ;
    pointer-events: none; 
}
.container-date::after{
    content: "";
    position: absolute;
    bottom: -1145px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    height: 100px; 
    background: url('gallery/wave.png') no-repeat center center;
    background-size: cover;
    z-index: 0 ;
    pointer-events: none; 
}
.container-date h1{
    margin-top: 20px;
    font-size: 32px;
    color: #082c74;
    font-family: "Baloo 2", serif;
}

.container-date p{
    font-size: 16px;
    padding: 30px;
    line-height: 1.5;
    font-family: "Baloo 2", serif;
}
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time-box {
    width: 80px;
    height: 80px;
    font-size: 16px;
    background: #f56529;
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.time-box span {
    font-size: 12px;
    font-weight: normal;
    font-family: "Baloo 2", serif;
}
.btn-attendance{
    display: inline-block;
    padding: 15px 25px;
    background: #74c6f4;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
    border:solid 2px #78B3CE;
    margin-bottom: 20px;
}
.btn:hover {
    background: #5aa9d6;
}
.paragraf-attendance{
    color:rgb(136, 130, 130);
}
.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.card-dad {
    background-color: #90CAF9;
    width: 90%;
    max-width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 70px;
    padding: 20px;
    text-align: center;

}
.card-mother {
    background-color: #FDB7EA;
    width: 90%;
    max-width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 70px;
    padding: 20px;
    text-align: center;
}

.image-card {
    width: 100%;
    overflow: hidden;
    border-radius: 50% 50% 0 50%;
}

.image-card img {
    width: 100%;
    border-radius: 50% 50% 0 50%;
}
.image-cardmother{
    width: 100%;
    overflow: hidden;
    border-radius: 50% 50% 50% 0;
}
.image-cardmother img{
    width: 100%;
    overflow: hidden;
    border-radius: 50% 50% 50% 0;
}
.quote {
    margin-top: 20px;
    font-style: italic;
    color: white;
    font-size: 16px;
    font-family: "Baloo 2", serif;
    line-height: 1.5;
}
.author {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    font-family: "Baloo 2", serif;
    line-height: 1.5;
}

.relation {
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
    font-family: "Baloo 2", serif;
    line-height: 1.5;
}
.container-gallery {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 80px;
    background: url('gallery/background-gallery.png') no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 50px 0; 
}

.container-gallery::before {
    content: "";
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    height: 150px; 
    background: url('gallery/wave-gallery.png') no-repeat center center; 
    background-size: contain;
    z-index: 1;
    pointer-events: none; 
}
.container-gallery::after {
    content: "";
    position: absolute;
    top: 640px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    height: 150px; 
    background: url('gallery/wave.png') no-repeat center center; 
    background-size: cover;
    z-index: 1;
    pointer-events: none; 
}

.container-gallery h1{
    font-family: "Baloo 2", serif;
    margin-bottom: 30px;
    font-size: 38px;
    color: #002366;
}
.gallery-container {
    max-width: 700px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}
  
.main-image {
    position: relative;
    width: 100%;
    height: 400px;
}
  
.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}
  
.main-image img.active {
    display: block;
}
  
.thumbnails {
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s, filter 0.3s;
    border-radius: 5px;
    filter: grayscale(100%);
}
.thumbnails::-webkit-scrollbar {
    display: none;
}
  
.thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s;
    border-radius: 5px;
}
  
.thumbnails img.active {
    filter: grayscale(0%); 
    border: 2px solid  #ff99b3; 
}
  
.thumbnails img:hover {
    filter: grayscale(0%); 
}
.container-location {
    max-width: 400px;
    margin: auto;
    text-align: center;
}
.container-location h2 {
    font-size:  38px;
    color: #002366;
    font-family: "Baloo 2", serif;
}
.container-location p {
    font-size: 16px;
    color: #555;
    margin: 10px 0 20px;
    font-family: "Baloo 2", serif;
}
.image-container {
    width: 100%;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 70px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 30px;
}
.location {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.icon {
    font-size: 50px;
    color: #ff6600;
}
.location h2 {
    font-size: 20px;
    color: #002366;
    margin-top: 10px;
}
.location p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}
.button {
    display: inline-block;
    background-color: #6ec1e4;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    border: 2px solid #47a3c4;
}
.button:hover {
    background-color: #47a3c4;
}
.rsvp{
    margin-top: 50px;
}
.container-rsvp {
    background-color: #FFD97D;
    padding: 20px;
    border-top-left-radius: 70px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}
.container-rsvp h1 {
    font-size: 32px;
    color: #1D3557;
    margin-bottom: 10px;
    font-family: "Baloo 2", serif;
}
.container-rsvp p {
    color: #6B7280;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Baloo 2", serif;
}
.container-rsvp input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    font-family: "Baloo 2", serif;
}
.container-rsvp textarea {
    height: 80px;
    font-family: "Baloo 2", serif;
}
.container-rsvp button {
    display: inline-block;
    padding: 16px 25px;
    background: #74c6f4;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    margin-top: 18px;
    border:solid 2px #78B3CE;
}
.container-rsvp button:hover {
    background-color: #47a3c4;
}
.footer {
    margin-top: 40px;
    background-color: #90CAF9;
    width: 100%;
    height: 220px;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    padding: 10px;
}
.social a {
    text-decoration: none;
    color: #1D3557;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: "Baloo 2", serif;
}
.social i{
    font-size: 16px;
    margin-right: 10px; 
}
.copyright {
    margin-top: 10px;
    font-size: 14px;
    color: #1D3557;
}
.desktop-view {
    margin: 0;
    padding: 0;
    background-color: #74c6f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
    text-align: center;
    padding: 20px; 
    box-sizing: border-box; 
}

.image-desktop img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    border-radius: 5px;
}

.text-desktop {
    margin-top: 20px;
    font-size: 4vw; 
    font-style: italic;
    color: white;
    max-width: 90%;
}
@media (max-width: 425px) {
    .desktop-view { display: none; }
}

@media (min-width: 426px) {
    .mobile-view { display: none; }
}
@media (max-width : 375px){
    .container-gallery::before {
        top: -115px;
    }
    .container-date::before{
       bottom: -649px;
    }
    .container-date::after{
        bottom: -1190px;
    }
    .image-container img {
        width: 95%;
    }
    .container::after {
        bottom: 50px;
    }
}